<footer class="contacto" id="contacto">
    <div class="container-redes">
      <a href="https://www.instagram.com/ivan_perez233/"> <i class="fa-brands fa-instagram"></i></a>
      <a href="https://github.com/ivn1245"> <i class="fa-brands fa-github"></i></a>
      <a href="https://twitter.com/04_ivanperez_04"> <i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/ivan-perez-520416255/"><i class="fa-brands fa-linkedin"></i> </a>
    </div>
    <p class="mail">ivanagustinperez@gmail.com</p>
  
  </footer>
