<section class="about-me" id="about-me">
    <div class="titulo-about-me">
      Sobre mí
    </div>
    <hr class="hr-about-me">
    <div class="contenedor-about-me">
      <div class="container">
        <div class="header">
          <img  src=".\assets\images\cintas 2da imagen.png" alt="cintas">
        </div>
        <div class="menu">
            <div class="box">java</div>
            <div class="box">javascript</div>
            <div class="box">HTML</div>
            <div class="box">CSS</div>
            <div class="box">typescript</div>
            <div class="box">NodeJS</div>
            <div class="box">Angular</div>
            <div class="box">Linux</div>
            <div class="box">Windows</div>
            <div class="box">Huayra</div>
            <div class="box">Debian</div>
            <div class="box">SQL</div>
            <div class="box">Git</div>
            <div class="box">Github</div>
            <div class="box">Stackblitz</div>
        </div>
    
        <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt aperiam esse, nam deleniti, nemo iure nisi cum, possimus fuga architecto porro dolor eum cupiditate provident sint molestias! Esse, maiores tenetur!</p>
      </div>
    </div>
          <!-- inicio de habilidades-->
  
  <section class="soft-skills" id="soft-skills">
  <div class="contenido-seccion">
      <h2>Soft Skills</h2>
      <div class="fila">
         
          <div class="col">
                              
              <div class="skill">
                  <span>Trabajo en Equipo</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>97%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Creatividad</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>85%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Comunicación</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>93%</span>
                      </div>
                  </div>
              </div>
          </div>
          
              <div class="col">
              <div class="skill">
                  <span>Dedicación</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>90%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Liderazgo</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>84%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Altruismo</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>90%</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  </section>  
  </section>
