<header class="encabezado">
    <h1 class="title">Mi Portfolio</h1>
    <nav class="navbar">
      <ul>
        <li><a href="#presentacion">Presentación</a></li>
        <li><a href="#about-me">Sobre mí</a></li>
        <li><a href="#estudios">Estudios</a></li>
        <li><a href="#experiencia">Experiencia</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li> <a  id="iniciar-sesion" href=""><i class="fa-sharp fa-solid fa-house"></i></a></li>
      </ul>
    </nav>
  </header>
